doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../styles/index.css")
    title Welcome Page
  body
    h1 Welcome User
    form#login-form(action="/login", method="post")
      label(for="username") Username:
      input(type="text", id="username", name="username", required)
      
      label(for="password") Password:
      input(type="password", id="password", name="password", required)

      input(type="submit", value="Login")

    form#signup-form(action="/signup", method="post", style="display:none;")
      label(for="newUsername") New Username:
      input(type="text", id="newUsername", name="username", required)

      label(for='email') Email
      input(type='email', id='email', name='email',required)

      label(for="newPassword") New Password:
      input(type="password", id="newPassword", name="password", pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[$@$!%*?&])([A-Za-z\\d$@$!%*?&]|[^ ]){8,20}$", required)
      
      input(type="submit", value="Sign Up")

    br
    br
    a(href='#', id='signup-link') Don't have an account? Create one!
    br
    a(href='/auth/github') Login with GitHub
    br
    a(href='/auth/google') Login with Google
    button#back-button(style='display:none') Back
    script(src='../client/start.js')

     
