doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='../styles/userstyle.css')
    title Documento
  body
    h1 Welcome
      span(id='username-span')  #{username}
    form(id="form-delete-account")
      label(for='usernameToDelete') Username: 
      input(type='text',id='usernameToDelete',required)
      
      label(for='passwordToDelete') Password:
      input(type='password',id='passwordToDelete',required)
      
      input(type='submit', value='Eliminar Usuario')
   
    a(href='/login/userpage/logout') Cerrar Sesion  
    a(href='#', id='change-password') Cambiar contraseña
    a(href='#', id='back-user', style='display:none') Back
    
    form(id='change-password-form', style="display:none;")
      label(for='emailToChangePw') Email
      input(type='email', id="emailToChangePw")
      
      label(for="passwordToChange") Old password
      input(type='password',id='passwordToChange')
      
      label(for='newPasswordChanged') New password
      input(type='password',id='newPasswordChanged')

      input(type='submit',value='Confirm')
    div(id="chat-container")
      div(id="chat-messages")
      div(id="user-list")
      input(type="text",id="input-message",placeholder="Type your message...")
      button(id="send-chat-button") Send
    script(src="https://cdn.socket.io/4.7.2/socket.io.min.js")
    script(src='../client/user.js')
    