doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Documento
  body
    h1 Welcome Username
    form(id="form-delete")
      label(for='usernameToDelete') Username: 
      input(type="text", name="username", id="usernameToDelete" required)
      label(for='passwordToDelete') Password:
      input(type='password', name='passwordToDelete', id='passwordToDelete' required)
      input(type="submit", value="Eliminar Usuario")
      br
      a(href='/userpage/logout') Cerrar Sesion
      br
      br
      a(href='#', id='change-password') Cambiar contraseña
      form(id='change-password-form', style="display:none;") 
        label(for="passwordToChange") 
        input(type='password', name='passwordToChange', id='passwordToChange')
        label(for='newPassword')
        input(type='password', name='newPassword', id='newPassword')

        input(type='submit' value='Confirm')
      br
      script(src='./client/userpage.js')
      