doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Documento
  body
    h1 Welcome
    form(id="form-delete-account")
      label(for='usernameToDelete') Username: 
      input(type="text",id="usernameToDelete",required)
      
      label(for='passwordToDelete') Password:
      input(type='password',id='passwordToDelete',required)
      
      input(type="submit", value="Eliminar Usuario")
   
    a(href='/login/userpage/logout') Cerrar Sesion  
    a(href='#', id='change-password') Cambiar contraseña
    
    form(id='change-password-form', style="display:none;")
      label(for='emailToChangePw') Email
      input(type='email', id="emailToChangePw")
      
      label(for="passwordToChange") Old password
      input(type='password',id='passwordToChange')
      
      label(for='newPasswordChanged') New password
      input(type='password',id='newPasswordChanged')

      input(type='submit',value='Confirm')
    script(src='../client/user.js')
    