html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  background-image: url('../images/backiee-259270.jpg');
  background-size: cover;
  background-position:'center';
  background-repeat: no-repeat;
}

h1{
  color: #ff1158; /* Color entre rosado y rojo (similar al color chicle) */
  text-shadow: 0.5px 0.5px 1px rgb(245, 105, 105); /* Sombreado blanco brillante */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
  color: rgba(43, 172, 215, 0.76);
}

label,a,input{
  display: block;
  margin-top:10px;
}

a{
  font-size:18px;
}

p{
  color:rgb(36, 150, 250);
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#usernameToDelete, #passwordToDelete, #input-message{
  border:none;
  color:aliceblue;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgba(24, 114, 231, 0.35);
}

#form-delete-account{
  width:300px;
  height: 300px;
}

#chat-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

#chat-messages {
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  max-height: 300px;
}

#user-list {
  float: right;
  padding: 10px;
  background-color: #f5f5f5;
  border-left: 1px solid #ccc;
}

#input-message{
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid #ccc;
  outline: none;
}

#send-chat-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}